.form
  width: 100%
  height: fit-content
  padding: 20px
  border-radius: 8px
  box-shadow: 0px 2px 10px rgba(230,230,230,.8)
  display: flex
  justify-content: center
  flex-wrap: wrap


.headerContainer
  width: 100%
  display: flex
  justify-content: center
  flex-wrap: wrap
  align-items: flex-start

.formHeader
  text-align: center
  width: 100%
  font-size: 24px
  font-weight: 500
  font-family: "Montserrat", sans-serif
  margin: 0px 0px 12px 0px